body {
    font-family: "Overpass", sans-serif;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-70 {
    margin-top: 70px;
}

.bannerBg {
    background-image: url("/img/bannerBg.jpg");
    height: 350px;
    background-position: center center;

    h1 {
        font-family: "Overpass", sans-serif;
        font-size: 35px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        padding-top: 10%;
    }
    p {
        text-align: center;
        color: #fff;
        margin-top: 15px;
        font-size: 14px;
        span {
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
            color: rgba(255, 255, 255, 0.85);
            padding: 10px;
            border-radius: 20px;
        }
    }
    input[type="text"] {
        border-radius: 8px;
        &:focus {
            outline: 0;
            border-color: transparent !important;
            box-shadow: none;
        }
    }
    select {
        border-radius: 8px;
        &:focus {
            outline: 0;
            border-color: transparent !important;
            box-shadow: none;
        }
    }
    .btn {
        background-color: #e63a46;
        height: 40px;
        color: #fff;
        width: 172px;
        border-radius: 10px;
        text-transform: uppercase;
    }
    .mobileView {
        display: none;
    }
}
.PopularDealers {
    margin-top: 50px;

    .owl-carousel {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
        }
        .owl-prev {
            left: -2rem;
        }
        .owl-next {
            right: -2rem;
        }
    }
    .owl-carousel {
        .owl-nav {
            button.owl-prev {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
            }
            button.owl-next {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
            }
        }
        button.owl-dot {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            color: #fff;
            width: 40px;
            height: 40px;
        }
    }

    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        span {
            color: #e63a46;
            font-weight: bold;
            font-size: 20px;
            small {
                color: #888888;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    .card {
        h6 {
            color: #262626;
            font-size: 16px;
            font-weight: bold;
        }
        p {
            color: #686767;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 10px;
            img {
                width: 20px;
                height: 20px;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .wtsApp {
            color: #42a956;
            font-size: 14px;
            font-weight: bold;
            img {
                width: 20px;
                height: 20px;
                float: left;
                margin-right: 10px;
            }
        }
    }
}
.CarDealersInIndia {
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        color: #848484;
        font-size: 14px;
        strong {
            color: #696969;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.CarDealersPopularMake {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    p {
        color: #6d7278;
        font-size: 12px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        a {
            color: #e63a46;
            font-size: 15px;
            text-align: left !important;
            margin-top: 15px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
}
.BuyerGuide {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .card {
        border-radius: 20px;
        margin-bottom: 20px;
        h4 {
            color: #262626;
            font-size: 14px;
            margin-top: 15px;
            margin-bottom: 10px;
            font-weight: bold;
            margin-left: 10px;
        }
        .countTxt {
            width: 60px;
            height: 100px;
            background-color: #e63a46;
            color: #fff;
            border-radius: 10px 0px 0px 10px;
            font-size: 40px;
            font-weight: bold;
        }
        p {
            font-size: 12px;
            margin-left: 10px;
            margin-top: 15px;
            margin-bottom: 10px;
            color: #6c6c6c;
            img {
                margin-right: 10px;
            }
            span {
                color: #427778;
                font-size: 12px;
                font-weight: bold;
                border-right-color: #6c6c6c;
                border-right-style: solid;
                border-right-width: 1px;
                padding-right: 10px;
                margin-right: 10px;
            }
        }
    }
    a {
        color: #e63a46;
        border: 1px solid #e63a46;
        padding: 10px;
        font-size: 15px;
        text-align: left !important;
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        &:hover {
            color: #fff;
            border: 1px solid #e63a46;
            background-color: #e63a46;
            text-decoration: none;
        }
    }
}
.LatestCars {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .btn {
        color: #fff;
        border: 1px solid #e63a46;
        background-color: #e63a46;
        font-size: 14px;
        padding: 10px 20px;
        text-align: center !important;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        margin-left: 0px;
        display: block;
        width: 200px;
        &:hover {
            color: #e63a46;
            border: 1px solid #e63a46;
            background-color: transparent;
            text-decoration: none;
        }
    }
    .card {
        .card-body {
            padding: 10px;
            h4 {
                color: #262626;
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 10px;
                font-weight: 600;
            }

            p {
                color: #848484;
                font-size: 12px;
                margin-bottom: 3px;
                small {
                    font-size: 12px;
                    color: #cf9800;
                    margin-left: 5px;
                    img {
                        width: 10px;
                        float: left;
                        margin-top: 4px;
                    }
                }
            }
            .carPrice {
                font-size: 16px;
                color: #262626;
                font-weight: bold;
            }
            .carDetails {
                font-size: 11px;
                color: #262626;
                font-weight: bold;
            }
            a {
                color: #e63a46;
                border: 1px solid #e63a46;
                // background-color: ;
                font-size: 15px;
                padding: 10px 20px;
                text-align: center !important;
                margin-top: 20px;
                margin-bottom: 10px;
                font-weight: bold;
                margin: auto;
                display: block;
                width: 100%;
                &:hover {
                    color: #fff;
                    border: 1px solid #e63a46;
                    background-color: #e63a46;
                    text-decoration: none;
                }
            }
        }
    }
}
.VideoReviews {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        color: #262626;
        font-weight: normal;
        font-size: 16px;
    }
    .card {
        .card-body {
            padding: 0px;
            .videoArea {
                width: 100%;
                margin-right: 15px;
                height: 200px;
                iframe {
                    width: 100%;
                    height: 200px;
                }
            }
            .contentArea {
                padding-top: 10px;

                .badge-success {
                    background-color: #427778;
                    padding: 10px 20px;
                    font-size: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .modalName {
                    font-size: 16px;
                    font-weight: bold;
                    color: #262626;
                    margin-top: 15px;
                }
                p {
                    font-size: 12px;
                    font-weight: normal;
                    color: #848484;
                    line-height: 16px;
                }
                .secContent {
                    font-size: 12px;
                    font-weight: bold;
                    color: #427778;
                    img {
                        margin-right: 10px;
                    }
                }
                .ThiContent {
                    font-size: 12px;
                    font-weight: bold;
                    color: #427778;
                    margin-top: 5px;
                    span {
                        color: #6c6c6c;
                        font-size: 12px;
                        font-weight: bold;
                        border-left-color: #6c6c6c;
                        border-left-style: solid;
                        border-left-width: 1px;
                        padding-left: 10px;
                        margin-left: 10px;
                    }
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .OtherVideos {
        margin-top: 30px;
        .card {
            .card-body {
                padding: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                .modalName {
                    color: #262626;
                    font-size: 14px;
                    font-weight: bold;
                }
                .otherDetails {
                    margin-top: 10px;
                    img {
                        margin-right: 5px;
                    }
                    .BannTxt {
                        color: #427778;
                        font-size: 10px;
                        font-weight: bold;
                    }
                    .clockTxt {
                        color: #262626;
                        font-size: 10px;
                        font-weight: normal;
                        border-left-color: #6c6c6c;
                        border-left-style: solid;
                        border-left-width: 1px;
                        padding-left: 5px;
                        margin-left: 5px;
                        .fas {
                            color: #262626;
                            font-size: 10px;
                        }
                    }
                    .CelTxt {
                        color: #262626;
                        font-size: 10px;
                        font-weight: normal;
                        border-left-color: #6c6c6c;
                        border-left-style: solid;
                        border-left-width: 1px;
                        padding-left: 5px;
                        margin-left: 5px;
                        .fas {
                            color: #262626;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        a {
            color: #fff;
            border: 1px solid #e63a46;
            background-color: #e63a46;
            font-size: 15px;
            padding: 15px 20px;
            text-align: center !important;
            margin-bottom: 10px;
            font-weight: bold;
            &:hover {
                color: #e63a46;
                border: 1px solid #e63a46;
                background-color: transparent;
                text-decoration: none;
            }
        }
    }
}
.GetAmazingFinanceOffers {
    margin-top: 50px;
    margin-bottom: 30px;
    h4 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        padding-top: 30px;
    }
    p {
        color: #262626;
        font-weight: normal;
        font-size: 16px;
    }
    .imgArea {
        float: left;
    }
    a {
        color: #e63a46;
        border: 1px solid #e63a46;
        background-color: transparent;
        font-size: 14px;
        padding: 10px 20px;
        text-align: center !important;
        margin-bottom: 10px;
        font-weight: bold;
        
        &:hover {
            color: #fff;
            border: 1px solid #e63a46;
            background-color: #e63a46;
            text-decoration: none;
        }
    }
}
// Right Area
.GetAmazingFinanceOffersSmall {
    margin-top: 80px;
    margin-bottom: 30px;

    h4 {
        color: #262626;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        padding-top: 15px;
        text-align: center;
    }
    p {
        color: #868686;
        font-weight: normal;
        font-size: 13px;
        text-align: center;
    }
    .imgArea {
    }
    a {
        color: #e63a46;
        border: 1px solid #e63a46;
        background-color: transparent;
        font-size: 14px;
        padding: 10px;
        text-align: center !important;
        font-weight: bold;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 115px;
        &:hover {
            color: #fff;
            border: 1px solid #e63a46;
            background-color: #e63a46;
            text-decoration: none;
        }
    }
}
.TrendingToyotaCars {
    margin-top: 30px;
    margin-bottom: 30px;
    .card {
        .card-body {
            padding: 0px;
            h4 {
                color: #262626;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
                padding-top: 15px;
                padding-left: 15px;
            }
            p {
                color: #868686;
                font-weight: normal;
                font-size: 13px;
                text-align: center;
            }
            ul {
                background-color: rgba(30, 53, 87, 0.89);
                text-align: center;
                li {
                    a {
                        color: #fff;
                        padding: 10px;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
            .nav-pills {
                .nav-link.active {
                    background-color: #0d2241;
                    color: #fff;
                }
            }
            .tab-content {
                img {
                    float: left;
                    border-radius: 5px;
                    width: 85px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
                .ModalName {
                    font-size: 13px;
                    color: #262626;
                    padding-top: 10px;
                }
                p {
                    font-size: 12px;
                    color: #848484;
                    text-align: left;
                }
            }
        }
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 786px) {
    .PopularDealers {
        margin-top: 100px;
        .owl-carousel {
            .owl-item {
                img {
                    width: 50px;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .bannerBg {
        background-image: url("/img/bannerBg.jpg");
        height: auto;
        min-height: 200px;
        background-position: center center;
        .mobileView {
            background-color: #fff;
            padding: 15px;
            border-radius: 10px;
            position: absolute;
            top: 15%;
            left: 3%;
            width: 94%;
            display: block;
        }
        .row {
            display: none;
        }
        h1 {
            font-family: "Overpass", sans-serif;
            font-size: 20px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            padding-top: 10%;
        }

        p {
            text-align: center;
            color: #fff;
            margin-top: 15px;
            font-size: 14px;
            display: none;
            span {
                background-color: rgba(0, 0, 0, 0.5);
                font-size: 12px;
                color: rgba(255, 255, 255, 0.85);
                padding: 10px;
                border-radius: 20px;
            }
        }
        input[type="text"] {
            border-radius: 8px;
            margin-top: 10px;
            &:focus {
                outline: 0;
                border-color: transparent !important;
                box-shadow: none;
            }
        }
        select {
            border-radius: 8px;
            &:focus {
                outline: 0;
                border-color: transparent !important;
                box-shadow: none;
            }
        }
        .btn {
            background-color: #e63a46;
            height: 40px;
            color: #fff;
            width: 172px;
            border-radius: 10px;
            text-transform: uppercase;
            display: block;
            margin: auto;
            margin-top: 10px;
        }
    }
    .BuyerGuide {
        margin-top: 50px;
        .col-lg-6 {
            padding: 0px;
        }
        h2 {
            color: #262626;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .card {
            border-radius: 20px;
            margin-bottom: 20px;
            h4 {
                color: #262626;
                font-size: 14px;
                margin-top: 15px;
                margin-bottom: 10px;
                font-weight: bold;
                margin-left: 3px;
            }
            .countTxt {
                width: 40px;
                height: 100%;
                background-color: #e63a46;
                color: #fff;
                border-radius: 10px 0px 0px 10px;
                font-size: 40px;
                font-weight: bold;
            }
            p {
                font-size: 12px;
                margin-left: 3px;
                margin-top: 15px;
                margin-bottom: 10px;
                color: #6c6c6c;
                img {
                    margin-right: 5px;
                }
                span {
                    color: #427778;
                    font-size: 12px;
                    font-weight: bold;
                    border-right-color: #6c6c6c;
                    border-right-style: solid;
                    border-right-width: 1px;
                    padding-right: 5px;
                    margin-right: 5px;
                }
            }
        }
        a {
            color: #e63a46;
            border: 1px solid #e63a46;
            padding: 10px;
            font-size: 15px;
            text-align: center !important;
            margin-top: 15px;
            margin-bottom: 10px;
            font-weight: bold;
            display: block;
            width: 100%;
            &:hover {
                color: #fff;
                border: 1px solid #e63a46;
                background-color: #e63a46;
                text-decoration: none;
            }
        }
    }
    .GetAmazingFinanceOffers {
        margin-top: 50px;
        margin-bottom: 30px;
        h4 {
            color: #262626;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            padding-top: 30px;
        }
        p {
            color: #262626;
            font-weight: normal;
            font-size: 16px;
        }
        .imgArea {
            float: left;
        }
        a {
            color: #e63a46;
            border: 1px solid #e63a46;
            background-color: transparent;
            font-size: 14px;
            padding: 10px 20px;
            display: block;
            width: 200px;
            text-align: center !important;
            font-weight: bold;
            margin: auto;
            margin-bottom: 20px;
            &:hover {
                color: #fff;
                border: 1px solid #e63a46;
                background-color: #e63a46;
                text-decoration: none;
            }
        }
    }
    .VideoReviews
    {
        .OtherVideos
        {
            a {
                color: #fff;
                border: 1px solid #e63a46;
                background-color: #e63a46;
                font-size: 15px;
                padding: 15px 20px;
                display: block;
                margin-top:10px;
                text-align: center !important;
                margin-bottom: 10px;
                font-weight: bold;
                
            }
        } 
    } 
    .LatestCars
    {
        .btn {
            color: #fff;
            border: 1px solid #e63a46;
            background-color: #e63a46;
            font-size: 14px;
            display: block;
            width: 200px;
            margin:auto;
            padding: 10px 20px;
            text-align: center !important;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
        }
    } 
}
